body {
  margin: 100px;
}

.box {
  width: 300px;
  height: 300px;
  background: #3dccc7;
  transition-duration: 250ms;
  transition-property: background, transform;
  transition-timing-function: cubic-bezier(0.79, 1.05, 0.62, 0.98);
  transition-delay: 1s;
}

.box:hover {
  background-color: #ff6b6b;
  transform: rotate(45deg);
}
