.pokemon-square {
  text-align: center;
  align-content: center;
  background-color: darkgrey;
  margin: 20px;
  padding: 20px;
  min-width: 15rem;
  min-height: 15rem;
}

#pokemon-container {
  overflow: hidden;
  background-color: lightgrey;
  min-height: 100vh;
  width: 20rem;
}

#container-positioning-context {
  display: flex;
  justify-content: space-around;
}
